body {
    width:  100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    background-image: url(assets/estadio_inicio.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 500px;
    background-color: transparent;
    padding: 35px;

    backdrop-filter: blur(7px);
    border: 2px solid white;
    border-radius: 10px;
}
.text{
    color: #ffffff;
    text-align: center;
}
.button{
    padding: 10px 15px;
    transition: 0.3s;
    color: #ffffff;
    border-radius: 120px;
    background:  #282828;
    text-decoration: none;
    display: block;
    text-align: center;
    justify-content: center;
}
.button:hover{
    transform: scale(1.05);
    
}